@charset "EUC-KR";

.form-inputs{
    position:relative;
}
.form-inputs .form-control{
    height:45px; 
}

.form-inputs .form-control:focus{
    box-shadow:none;
    border:1px solid #000;
}

.form-inputs i{
    position:absolute;
    right:10px;
    top:15px;
}

.shop-bag{
    background-color:#000;
    color:#fff;
    height:50px;
    width:50px;
    font-size:25px;
    display:flex;
    border-radius:50%;
    align-items:center;
    justify-content:center;
}

.qty{
    font-size:12px;
}


.nav-link a:hover{
	border-radius:4px;
	background:#91d3ff;
	color: #91d3ff;
}

.nav-item:hover{
	border-radius:4px;
	background:#91d3ff;
	color: #91d3ff;
	
}


.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.form-input:hover{
background: #91d3ff;

}

/*버튼 */

.button{
    height: 45px;
    width: 150px;
    letter-spacing: 2px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #91d3ff;
    border-radius: 3px;
    color: #91d3ff;
    transition: all 0.5s;
    position: relative;
}

.button:hover{
     background-color: #fff; 
    color: black;
}

.button::after{
    content:attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%) scale(5);
    width: 100%;
    color: #91d3ff;
    transition:tranform 1s;
    opacity: 0;
}

.button:hover::after{
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
}





