<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "member">

 <insert id="insert">
 
 insert into teammember(memberId,memberPw,memberName,memberEmail) values(#{memberid},#{memberpw},#{membername},#{memberemail})
 
 </insert>

<select id="loginAction" resultType="String">

select membername from teammember where memberid = #{memberid} and memberpw =#{memberpw}

</select>
	
<select id="count" resultType="int">

select count(*) from teammember where memberid = #{memberid} and memberpw =#{memberpw}

</select>
	
</mapper>

